---
import type { Abstract } from "@types";

import { abstracts } from "@dataset";

import "@styles/CETEIcean.css";

import BaseLayout from "@components/BaseLayout.astro";

export async function getStaticPaths() {
  return abstracts.map((abstract: Abstract) => ({
    params: { slug: abstract.xmlPath },
    props: { abstract },
  }));
}

const { abstract } = Astro.props;
---

<BaseLayout>
  <div
    data-pagefind-body
    data-pagefind-meta={`title:${abstract.title}`}
    data-pagefind-filter={`author:${abstract.authors[0].surname}`}
    set:html={abstract.htmlDom.outerHTML}
  >
  </div>
</BaseLayout>
