body {
  color: var(--font-color-light);
  background: var(--background);
  padding: 2ch;
}

a {
  color: var(--dusty-gray);
  font-weight: bold;
}

main {
  font-size: 1.25em;
  line-height: 1.75;
  margin: auto;
  max-width: var(--wrap);
}
