:root {
  --font-stack-sans: "Work SansVariable", sans-serif;

  --manatee: #8b91a5;
  --athens-gray: hsl(225deg 10% 90%);
  --grey-olive: #a59f8b;
  --envy: #91a58b;
  --dusty-gray: #a58b91;

  --background: rgba(0 0 0 / 65%);
  --font-color-dark: #1d1d1d;
  --font-color-light: cornsilk;

  --copy-width: 80ch;

  --wrap: 1000px;
}
