---
import BaseLayout from "../components/BaseLayout.astro";
import { abstracts } from "../dataset.mjs";
---

<BaseLayout>
  {
    abstracts.map((abstract: { path: string }) => (
      <li>
        <a href={`./${abstract.path}/`}>{abstract.path}</a>
      </li>
    ))
  }
</BaseLayout>
