---
import BaseLayout from "../components/BaseLayout.astro";
import { abstracts } from "../dataset";

import type { Abstract } from "../types";
---

<BaseLayout>
  {
    abstracts.map((abstract: Abstract) => (
      <li>
        <a href={`./${abstract.xmlPath}/`}>{abstract.xmlPath}</a>
      </li>
    ))
  }
</BaseLayout>
