---
import type { Abstract } from "@types";

import { abstracts } from "@dataset";

import BaseLayout from "@components/BaseLayout.astro";
---

<BaseLayout>
  {
    abstracts.map((abstract: Abstract) => (
      <li>
        <a href={`./${abstract.xmlPath}/`}>{abstract.xmlPath}</a>
      </li>
    ))
  }
</BaseLayout>
