---
import "@styles/stylesheet.css";
import "@fontsource/cormorant/variable.css";
import "@fontsource/work-sans/variable.css";

import Head from "@components/Head.astro";
import Header from "@components/Header.astro";

let { bodyClass } = Astro.props;
---

<html lang="en">
  <Head title="Home" />
  <body class={bodyClass}>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
