---
const baseUrl = import.meta.env.BASE_URL;

const { collectionMap, urlStem, activeKey } = Astro.props;
---

<ol>
  {
    [...collectionMap.entries()].sort().map(([k]) => {
      const key = k.toLowerCase().replace("/", "_");
      return (
        <li>
          <a
            href={`${baseUrl}${urlStem}${key}/`}
            class={key === activeKey ? "active" : null}
          >
            {k}
          </a>
        </li>
      );
    })
  }
</ol>

<style>
  ol {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    width: 100%;
  }

  li {
    padding: 0 0.5em;
  }

  a {
    text-decoration: none;

    &:hover,
    &.active {
      border-bottom: 1px solid currentColor;
      color: var(--envy);
    }
  }
</style>
